@import './styles/utile.scss';

.Machine {
    display: inline-block;
    width: 270px;
    height: 400px;
    border: 1px solid black;
    position: fixed;
    
    @include place-at-center();

    button{
        &:hover {
            background: orange;
        }
        &:active {
            background: yellow;
        }
    }

    .Machine-inside{
        background: black;
        color: white;
    }
}
